.flightCardContainer {
  flex: 0 0 auto;
  border-radius: var(--border-radius-5);
  background: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .flightInfoContainer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    .flightInfoContainer__price {
      flex: 0 0 auto;
      font: var(--font-weight-600) var(--font-size-24) "Open Sans";
      color: var(--color-dodgerblue);
      white-space: pre-wrap;
    }

    .flightInfoContainer__airline {
      flex: 0 0 auto;

      .flightInfoContainer__logo {
        border: none;
        box-sizing: border-box;
        display: block;
        width: 110px;
        max-width: initial;
        height: 36px;
        object-fit: cover;
      }
    }
  }
}
