.flightTicketListingContainer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 3.5px;
  margin-top: 19px;

  @media (max-width: 640px) {
    padding-left: 0;
  }

  .flightTicketListingContainer__showMore {
    flex: 0 0 auto;
    border: none;
    border-radius: var(--border-radius-5);
    font: var(--font-weight-600) var(--font-size-12) "Open Sans";
    background: var(--color-dodgerblue);
    box-sizing: border-box;
    display: block;
    max-width: 502px;
    min-width: 320px;
    height: 50px;
    margin-top: 20px;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;

    @media (max-width: 640px) {
      max-width: 100%;
    }
  }
}
