.flightSearchResultsContainer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 50px;

  @media (max-width: 640px) {
    margin-top: 20px;
  }

  .flightDetailsContainer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
