:root {
  --color-alice-blue: rgba(243,	247, 250, 1);
  --color-whitesmoke: rgba(243, 247, 250, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-darkslategrey: rgba(74, 74, 74, 1);
  --color-dodgerblue: rgba(33, 150, 243, 1);
  --color-azure: rgba(241, 252, 255, 1);
  --color-solitude: rgba(223, 229, 236, 1);
  --color-silver: rgba(196, 196, 196, 1);
  --color-darkgrey: rgba(160, 176, 185, 1);
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-24: 24px;
  --font-size-14: 14px;
  --font-weight-600: 600;
  --font-weight-400: 400;
  --border-radius-5: 5px;
  --border-radius-1_5: 1.5px;
}