.flightTicketDetailsContainer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 20px;

  .flightTicketDetailsContainer__flight {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &:not(:first-child) {
      margin-top: 10px;
    }

    .flightTicketDetailsContainer__info {
      flex: 0 0 auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      .flightTicketDetailsContainer__infoHeading {
        flex: 0 0 auto;
        font: var(--font-weight-600) var(--font-size-12) "Open Sans";
        color: var(--color-darkgrey);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        white-space: pre-wrap;
      }

      .flightTicketDetailsContainer__infoText {
        flex: 0 0 auto;
        font: var(--font-weight-600) var(--font-size-14) "Open Sans";
        color: var(--color-darkslategrey);
        white-space: pre-wrap;
      }

      &.fromToWhere {
        width: 32.5%;
      }

      &.journey {
        width: 35%;
      }

      &.transfers {
        width: 32.5%;
        min-width: 120px;
      }

      &.journey, &.transfers {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}


